### DATA CLEANING WITH PANDAS

#### Libraries and data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\HP\OneDrive\Documents\data analysis practice\Python practice\Dirty_Data_Alex.csv")
# reads in the data to a pandas dataframe

In [3]:
df # Displays the data

,Customer ID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-555-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,"93 West Main, Manhattan",No,Yes,False
2,1003,Walter,/White,123/643/9775,"298 Albuquerque, New Mexico",Y,N,True
3,1004,Dwight,Schrute,8098798738,"980 Paper Avenue, Pensylvania",Yes,No,False
4,1005,Jon,Snow,NaN,"123 Khaleesi str, Westeros",Yes,No,False
5,1006,Ron,Swanson,8033272314,"786 City Parkway, New York",No,Yes,False
6,1007,Jeff,Winger,123-555-6421,"1209 South Park, Central City",Y,N,False
7,1008,Sherlock,Holmes,8165921732,"98 Clue Drives, England",N,Y,False
8,1009,Gandalf,NaN,N/a,"123 Middle Earth, Sauron",No,Yes,False
9,1010,Peter,Parker,876|324|682,"25th Main Street, New York",Yes,No,False
10,1011,Samwise,Gamgee,153/443/1475,"612 Shire Lane, Shire",Y,N,False
11,1012,Harry,_Potter,123-555-3421,"432 Hogwarts Academy, Diagon Alley",N/a,N/a,True
12,1013,Don,Draper,NaN,"2033 Main Street, Alabama",N,Y,True
13,1014,Leslie,Knope,8088213604,"311 City Parkway, Queens",No,Yes,True
14,1015,Toby,Flenderson_,N/a,"231 HR Avenue, LA",Y,N,True
15,1016,Ron,Weasley,521|324|6829,"492 Gryffindor House, Hogwarts",NaN,NaN,True
16,1017,Michael,Scott,123-555-5442,"121 Paper Avenue, Pensylvania",Y,N,False
17,1018,Clark,Kent,304|124|6238,"535 Daily Sun, Metropolis",N,Y,True
18,1019,Creed,Braton,N/a,N/a,No,Yes,False
19,1020,Anakin,Skywalker,123-565-5421,"910 Tatooine Road, Tatooine",Yes,No,True
20,1020,Anakin,Skywalker,123-565-5421,"910 Tatooine Road, Tatooine",Yes,No,True

### Removing duplicates

In [5]:
df = df.drop_duplicates() # delete duplicated rows of data (index number 19 and 20 are duplicates)
df # displays the new dataframe after removing duplicates

,Customer ID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-555-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,"93 West Main, Manhattan",No,Yes,False
2,1003,Walter,/White,123/643/9775,"298 Albuquerque, New Mexico",Y,N,True
3,1004,Dwight,Schrute,8098798738,"980 Paper Avenue, Pensylvania",Yes,No,False
4,1005,Jon,Snow,NaN,"123 Khaleesi str, Westeros",Yes,No,False
5,1006,Ron,Swanson,8033272314,"786 City Parkway, New York",No,Yes,False
6,1007,Jeff,Winger,123-555-6421,"1209 South Park, Central City",Y,N,False
7,1008,Sherlock,Holmes,8165921732,"98 Clue Drives, England",N,Y,False
8,1009,Gandalf,NaN,N/a,"123 Middle Earth, Sauron",No,Yes,False
9,1010,Peter,Parker,876|324|682,"25th Main Street, New York",Yes,No,False
10,1011,Samwise,Gamgee,153/443/1475,"612 Shire Lane, Shire",Y,N,False
11,1012,Harry,_Potter,123-555-3421,"432 Hogwarts Academy, Diagon Alley",N/a,N/a,True
12,1013,Don,Draper,NaN,"2033 Main Street, Alabama",N,Y,True
13,1014,Leslie,Knope,8088213604,"311 City Parkway, Queens",No,Yes,True
14,1015,Toby,Flenderson_,N/a,"231 HR Avenue, LA",Y,N,True
15,1016,Ron,Weasley,521|324|6829,"492 Gryffindor House, Hogwarts",NaN,NaN,True
16,1017,Michael,Scott,123-555-5442,"121 Paper Avenue, Pensylvania",Y,N,False
17,1018,Clark,Kent,304|124|6238,"535 Daily Sun, Metropolis",N,Y,True
18,1019,Creed,Braton,N/a,N/a,No,Yes,False
19,1020,Anakin,Skywalker,123-565-5421,"910 Tatooine Road, Tatooine",Yes,No,True

### Stripping off unwanted elements from the Last Names

In [32]:
# we can see from the above that there are unwanted underscoes and forward slashes in the Last Names. we can strip off those unwanted elements

df.loc[:,'Last_Name'] = df.loc[:,'Last_Name'].str.lstrip('-/_') # strips off the symbol "-/_" from the last Names on the left side
df.loc[:,'Last_Name'] = df.loc[:,'Last_Name'].str.rstrip('-_') # strips off the symbol "-/_" from the last Names on the right side

In [33]:
df # displays the dataset without the errors in the last names

,Customer ID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235555421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,"93 West Main, Manhattan",No,Yes
2,1003,Walter,White,1236439775,"298 Albuquerque, New Mexico",Y,N
3,1004,Dwight,Schrute,8098798738,"980 Paper Avenue, Pensylvania",Yes,No
4,1005,Jon,Snow,NaN,"123 Khaleesi str, Westeros",Yes,No
5,1006,Ron,Swanson,8033272314,"786 City Parkway, New York",No,Yes
6,1007,Jeff,Winger,1235556421,"1209 South Park, Central City",Y,N
7,1008,Sherlock,Holmes,8165921732,"98 Clue Drives, England",N,Y
8,1009,Gandalf,NaN,Na,"123 Middle Earth, Sauron",No,Yes
9,1010,Peter,Parker,8763246825,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,1534431475,"612 Shire Lane, Shire",Y,N
11,1012,Harry,Potter,1235553421,"432 Hogwarts Academy, Diagon Alley",N/a,N/a
12,1013,Don,Draper,NaN,"2033 Main Street, Alabama",N,Y
13,1014,Leslie,Knope,8088213604,"311 City Parkway, Queens",No,Yes
14,1015,Toby,Flenderson,Na,"231 HR Avenue, LA",Y,N
15,1016,Ron,Weasley,5213246829,"492 Gryffindor House, Hogwarts",NaN,NaN
16,1017,Michael,Scott,1235555442,"121 Paper Avenue, Pensylvania",Y,N
17,1018,Clark,Kent,3041246238,"535 Daily Sun, Metropolis",N,Y
18,1019,Creed,Braton,Na,N/a,No,Yes
19,1020,Anakin,Skywalker,1235655421,"910 Tatooine Road, Tatooine",Yes,No

### Dropping unneeded columns

In [ ]:
df = df.drop(columns = 'Not_Useful_Column') # drops the column from the dataframe
df # displays the dataframe

### Cleaning up the Phone numbers

In [35]:
# removes unwanted elements from the phone numbers
df.loc[:,'Phone_Number'] = df.loc[:,'Phone_Number'].str.replace('-','')
df.loc[:,'Phone_Number'] = df.loc[:,'Phone_Number'].str.replace('/','')
df.loc[:,'Phone_Number'] = df.loc[:,'Phone_Number'].str.replace('|','')
df

,Customer ID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235555421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,"93 West Main, Manhattan",No,Yes
2,1003,Walter,White,1236439775,"298 Albuquerque, New Mexico",Y,N
3,1004,Dwight,Schrute,8098798738,"980 Paper Avenue, Pensylvania",Yes,No
4,1005,Jon,Snow,NaN,"123 Khaleesi str, Westeros",Yes,No
5,1006,Ron,Swanson,8033272314,"786 City Parkway, New York",No,Yes
6,1007,Jeff,Winger,1235556421,"1209 South Park, Central City",Y,N
7,1008,Sherlock,Holmes,8165921732,"98 Clue Drives, England",N,Y
8,1009,Gandalf,NaN,Na,"123 Middle Earth, Sauron",No,Yes
9,1010,Peter,Parker,8763246825,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,1534431475,"612 Shire Lane, Shire",Y,N
11,1012,Harry,Potter,1235553421,"432 Hogwarts Academy, Diagon Alley",N/a,N/a
12,1013,Don,Draper,NaN,"2033 Main Street, Alabama",N,Y
13,1014,Leslie,Knope,8088213604,"311 City Parkway, Queens",No,Yes
14,1015,Toby,Flenderson,Na,"231 HR Avenue, LA",Y,N
15,1016,Ron,Weasley,5213246829,"492 Gryffindor House, Hogwarts",NaN,NaN
16,1017,Michael,Scott,1235555442,"121 Paper Avenue, Pensylvania",Y,N
17,1018,Clark,Kent,3041246238,"535 Daily Sun, Metropolis",N,Y
18,1019,Creed,Braton,Na,N/a,No,Yes
19,1020,Anakin,Skywalker,1235655421,"910 Tatooine Road, Tatooine",Yes,No

In [36]:
### corrects the phone number on index number 9
df.loc[9,'Phone_Number'] = '8763246825'
df

,Customer ID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235555421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,"93 West Main, Manhattan",No,Yes
2,1003,Walter,White,1236439775,"298 Albuquerque, New Mexico",Y,N
3,1004,Dwight,Schrute,8098798738,"980 Paper Avenue, Pensylvania",Yes,No
4,1005,Jon,Snow,NaN,"123 Khaleesi str, Westeros",Yes,No
5,1006,Ron,Swanson,8033272314,"786 City Parkway, New York",No,Yes
6,1007,Jeff,Winger,1235556421,"1209 South Park, Central City",Y,N
7,1008,Sherlock,Holmes,8165921732,"98 Clue Drives, England",N,Y
8,1009,Gandalf,NaN,Na,"123 Middle Earth, Sauron",No,Yes
9,1010,Peter,Parker,8763246825,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,1534431475,"612 Shire Lane, Shire",Y,N
11,1012,Harry,Potter,1235553421,"432 Hogwarts Academy, Diagon Alley",N/a,N/a
12,1013,Don,Draper,NaN,"2033 Main Street, Alabama",N,Y
13,1014,Leslie,Knope,8088213604,"311 City Parkway, Queens",No,Yes
14,1015,Toby,Flenderson,Na,"231 HR Avenue, LA",Y,N
15,1016,Ron,Weasley,5213246829,"492 Gryffindor House, Hogwarts",NaN,NaN
16,1017,Michael,Scott,1235555442,"121 Paper Avenue, Pensylvania",Y,N
17,1018,Clark,Kent,3041246238,"535 Daily Sun, Metropolis",N,Y
18,1019,Creed,Braton,Na,N/a,No,Yes
19,1020,Anakin,Skywalker,1235655421,"910 Tatooine Road, Tatooine",Yes,No

In [48]:
df.loc[:,'Phone_Number'] = df.loc[:,'Phone_Number'].astype('str') # Change the Phone number to a string datatype to allow for further formatting

In [49]:
df.loc[:,'Phone_Number'].info() # displays generalinformation about the dataset

<class 'pandas.core.series.Series'>
Index: 20 entries, 0 to 19
Series name: Phone_Number
Non-Null Count  Dtype
--------------  -----
20 non-null     object
dtypes: object(1)
memory usage: 876.0+ bytes

In [51]:
# we can use a lambda function to format the phone number column to have a "-" after every third number, like a typical phone number
df.loc[:,'Phone_Number'] = df.loc[:,'Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
df

,Customer ID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-555-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-9775,"93 West Main, Manhattan",No,Yes
2,1003,Walter,White,123-643-9775,"298 Albuquerque, New Mexico",Y,N
3,1004,Dwight,Schrute,809-879-8738,"980 Paper Avenue, Pensylvania",Yes,No
4,1005,Jon,Snow,nan--,"123 Khaleesi str, Westeros",Yes,No
5,1006,Ron,Swanson,803-327-2314,"786 City Parkway, New York",No,Yes
6,1007,Jeff,Winger,123-555-6421,"1209 South Park, Central City",Y,N
7,1008,Sherlock,Holmes,816-592-1732,"98 Clue Drives, England",N,Y
8,1009,Gandalf,NaN,Na--,"123 Middle Earth, Sauron",No,Yes
9,1010,Peter,Parker,876-324-6825,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,153-443-1475,"612 Shire Lane, Shire",Y,N
11,1012,Harry,Potter,123-555-3421,"432 Hogwarts Academy, Diagon Alley",N/a,N/a
12,1013,Don,Draper,nan--,"2033 Main Street, Alabama",N,Y
13,1014,Leslie,Knope,808-821-3604,"311 City Parkway, Queens",No,Yes
14,1015,Toby,Flenderson,Na--,"231 HR Avenue, LA",Y,N
15,1016,Ron,Weasley,521-324-6829,"492 Gryffindor House, Hogwarts",NaN,NaN
16,1017,Michael,Scott,123-555-5442,"121 Paper Avenue, Pensylvania",Y,N
17,1018,Clark,Kent,304-124-6238,"535 Daily Sun, Metropolis",N,Y
18,1019,Creed,Braton,Na--,N/a,No,Yes
19,1020,Anakin,Skywalker,123-565-5421,"910 Tatooine Road, Tatooine",Yes,No

In [54]:
### Replacing the null or NaN values in the Phone number columns with a blank value
df.loc[:,'Phone_Number'] = df.loc[:,'Phone_Number'].str.replace('Na--','')
df.loc[:,'Phone_Number'] = df.loc[:,'Phone_Number'].str.replace('nan--','')
df

,Customer ID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-555-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123-643-9775,"93 West Main, Manhattan",No,Yes
2,1003,Walter,White,123-643-9775,"298 Albuquerque, New Mexico",Y,N
3,1004,Dwight,Schrute,809-879-8738,"980 Paper Avenue, Pensylvania",Yes,No
4,1005,Jon,Snow,,"123 Khaleesi str, Westeros",Yes,No
5,1006,Ron,Swanson,803-327-2314,"786 City Parkway, New York",No,Yes
6,1007,Jeff,Winger,123-555-6421,"1209 South Park, Central City",Y,N
7,1008,Sherlock,Holmes,816-592-1732,"98 Clue Drives, England",N,Y
8,1009,Gandalf,NaN,,"123 Middle Earth, Sauron",No,Yes
9,1010,Peter,Parker,876-324-6825,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,153-443-1475,"612 Shire Lane, Shire",Y,N
11,1012,Harry,Potter,123-555-3421,"432 Hogwarts Academy, Diagon Alley",N/a,N/a
12,1013,Don,Draper,,"2033 Main Street, Alabama",N,Y
13,1014,Leslie,Knope,808-821-3604,"311 City Parkway, Queens",No,Yes
14,1015,Toby,Flenderson,,"231 HR Avenue, LA",Y,N
15,1016,Ron,Weasley,521-324-6829,"492 Gryffindor House, Hogwarts",NaN,NaN
16,1017,Michael,Scott,123-555-5442,"121 Paper Avenue, Pensylvania",Y,N
17,1018,Clark,Kent,304-124-6238,"535 Daily Sun, Metropolis",N,Y
18,1019,Creed,Braton,,N/a,No,Yes
19,1020,Anakin,Skywalker,123-565-5421,"910 Tatooine Road, Tatooine",Yes,No

### Cleaning the Address Column

In [59]:
df[['Street Address','State']] = df.loc[:,'Address'].str.split(',', expand = True) 
#splits the Address column using the comma ',' as the delimiter and renames the split columns as 'Street Address' and 'State'

In [63]:
df = df.iloc[:,[0,1,2,3,7,8,5,6]] #specifies the columns that are needed 
#(The address column is no longer needed since we have the street address and State in different columns - hence the removal of the Address column)

### Formatting the Paying Customer column

In [66]:
df.loc[:,'Paying Customer'] = df.loc[:,'Paying Customer'].str.replace('Yes','Y') # replaces 'Yes' with 'Y' 
df.loc[:,'Paying Customer'] = df.loc[:,'Paying Customer'].str.replace('No','N')  # replaces 'No' with 'N' 
df # displays the recent changes

,Customer ID,First_Name,Last_Name,Phone_Number,Street Address,State,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-555-5421,123 Shire Lane,Shire,Y,No
1,1002,Abed,Nadir,123-643-9775,93 West Main,Manhattan,N,Yes
2,1003,Walter,White,123-643-9775,298 Albuquerque,New Mexico,Y,N
3,1004,Dwight,Schrute,809-879-8738,980 Paper Avenue,Pensylvania,Y,No
4,1005,Jon,Snow,,123 Khaleesi str,Westeros,Y,No
5,1006,Ron,Swanson,803-327-2314,786 City Parkway,New York,N,Yes
6,1007,Jeff,Winger,123-555-6421,1209 South Park,Central City,Y,N
7,1008,Sherlock,Holmes,816-592-1732,98 Clue Drives,England,N,Y
8,1009,Gandalf,NaN,,123 Middle Earth,Sauron,N,Yes
9,1010,Peter,Parker,876-324-6825,25th Main Street,New York,Y,No
10,1011,Samwise,Gamgee,153-443-1475,612 Shire Lane,Shire,Y,N
11,1012,Harry,Potter,123-555-3421,432 Hogwarts Academy,Diagon Alley,N/a,N/a
12,1013,Don,Draper,,2033 Main Street,Alabama,N,Y
13,1014,Leslie,Knope,808-821-3604,311 City Parkway,Queens,N,Yes
14,1015,Toby,Flenderson,,231 HR Avenue,LA,Y,N
15,1016,Ron,Weasley,521-324-6829,492 Gryffindor House,Hogwarts,NaN,NaN
16,1017,Michael,Scott,123-555-5442,121 Paper Avenue,Pensylvania,Y,N
17,1018,Clark,Kent,304-124-6238,535 Daily Sun,Metropolis,N,Y
18,1019,Creed,Braton,,N/a,None,N,Yes
19,1020,Anakin,Skywalker,123-565-5421,910 Tatooine Road,Tatooine,Y,No

In [69]:
df.fillna('') # changes any 'N/a' or 'Nan' value to a blank space in order to make the data more useful

,Customer ID,First_Name,Last_Name,Phone_Number,Street Address,State,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-555-5421,123 Shire Lane,Shire,Y,No
1,1002,Abed,Nadir,123-643-9775,93 West Main,Manhattan,N,Yes
2,1003,Walter,White,123-643-9775,298 Albuquerque,New Mexico,Y,N
3,1004,Dwight,Schrute,809-879-8738,980 Paper Avenue,Pensylvania,Y,No
4,1005,Jon,Snow,,123 Khaleesi str,Westeros,Y,No
5,1006,Ron,Swanson,803-327-2314,786 City Parkway,New York,N,Yes
6,1007,Jeff,Winger,123-555-6421,1209 South Park,Central City,Y,N
7,1008,Sherlock,Holmes,816-592-1732,98 Clue Drives,England,N,Y
8,1009,Gandalf,,,123 Middle Earth,Sauron,N,Yes
9,1010,Peter,Parker,876-324-6825,25th Main Street,New York,Y,No
10,1011,Samwise,Gamgee,153-443-1475,612 Shire Lane,Shire,Y,N
11,1012,Harry,Potter,123-555-3421,432 Hogwarts Academy,Diagon Alley,N/a,N/a
12,1013,Don,Draper,,2033 Main Street,Alabama,N,Y
13,1014,Leslie,Knope,808-821-3604,311 City Parkway,Queens,N,Yes
14,1015,Toby,Flenderson,,231 HR Avenue,LA,Y,N
15,1016,Ron,Weasley,521-324-6829,492 Gryffindor House,Hogwarts,,
16,1017,Michael,Scott,123-555-5442,121 Paper Avenue,Pensylvania,Y,N
17,1018,Clark,Kent,304-124-6238,535 Daily Sun,Metropolis,N,Y
18,1019,Creed,Braton,,N/a,,N,Yes
19,1020,Anakin,Skywalker,123-565-5421,910 Tatooine Road,Tatooine,Y,No

### Cleaning the 'Do_Not_Contact' column

In [70]:
# we will repeat the same step as in Paying customer column
df.loc[:,'Do_Not_Contact'] = df.loc[:,'Do_Not_Contact'].str.replace('Yes','Y')
df.loc[:,'Do_Not_Contact'] = df.loc[:,'Do_Not_Contact'].str.replace('No','N')
df

,Customer ID,First_Name,Last_Name,Phone_Number,Street Address,State,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-555-5421,123 Shire Lane,Shire,Y,N
1,1002,Abed,Nadir,123-643-9775,93 West Main,Manhattan,N,Y
2,1003,Walter,White,123-643-9775,298 Albuquerque,New Mexico,Y,N
3,1004,Dwight,Schrute,809-879-8738,980 Paper Avenue,Pensylvania,Y,N
4,1005,Jon,Snow,,123 Khaleesi str,Westeros,Y,N
5,1006,Ron,Swanson,803-327-2314,786 City Parkway,New York,N,Y
6,1007,Jeff,Winger,123-555-6421,1209 South Park,Central City,Y,N
7,1008,Sherlock,Holmes,816-592-1732,98 Clue Drives,England,N,Y
8,1009,Gandalf,NaN,,123 Middle Earth,Sauron,N,Y
9,1010,Peter,Parker,876-324-6825,25th Main Street,New York,Y,N
10,1011,Samwise,Gamgee,153-443-1475,612 Shire Lane,Shire,Y,N
11,1012,Harry,Potter,123-555-3421,432 Hogwarts Academy,Diagon Alley,N/a,N/a
12,1013,Don,Draper,,2033 Main Street,Alabama,N,Y
13,1014,Leslie,Knope,808-821-3604,311 City Parkway,Queens,N,Y
14,1015,Toby,Flenderson,,231 HR Avenue,LA,Y,N
15,1016,Ron,Weasley,521-324-6829,492 Gryffindor House,Hogwarts,NaN,NaN
16,1017,Michael,Scott,123-555-5442,121 Paper Avenue,Pensylvania,Y,N
17,1018,Clark,Kent,304-124-6238,535 Daily Sun,Metropolis,N,Y
18,1019,Creed,Braton,,N/a,None,N,Y
19,1020,Anakin,Skywalker,123-565-5421,910 Tatooine Road,Tatooine,Y,N

In [71]:
df.fillna('') # Notice that this trick does not seem to work for index number 11 - the N/a value there is not replaced with a blank as expected

,Customer ID,First_Name,Last_Name,Phone_Number,Street Address,State,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-555-5421,123 Shire Lane,Shire,Y,N
1,1002,Abed,Nadir,123-643-9775,93 West Main,Manhattan,N,Y
2,1003,Walter,White,123-643-9775,298 Albuquerque,New Mexico,Y,N
3,1004,Dwight,Schrute,809-879-8738,980 Paper Avenue,Pensylvania,Y,N
4,1005,Jon,Snow,,123 Khaleesi str,Westeros,Y,N
5,1006,Ron,Swanson,803-327-2314,786 City Parkway,New York,N,Y
6,1007,Jeff,Winger,123-555-6421,1209 South Park,Central City,Y,N
7,1008,Sherlock,Holmes,816-592-1732,98 Clue Drives,England,N,Y
8,1009,Gandalf,,,123 Middle Earth,Sauron,N,Y
9,1010,Peter,Parker,876-324-6825,25th Main Street,New York,Y,N
10,1011,Samwise,Gamgee,153-443-1475,612 Shire Lane,Shire,Y,N
11,1012,Harry,Potter,123-555-3421,432 Hogwarts Academy,Diagon Alley,N/a,N/a
12,1013,Don,Draper,,2033 Main Street,Alabama,N,Y
13,1014,Leslie,Knope,808-821-3604,311 City Parkway,Queens,N,Y
14,1015,Toby,Flenderson,,231 HR Avenue,LA,Y,N
15,1016,Ron,Weasley,521-324-6829,492 Gryffindor House,Hogwarts,,
16,1017,Michael,Scott,123-555-5442,121 Paper Avenue,Pensylvania,Y,N
17,1018,Clark,Kent,304-124-6238,535 Daily Sun,Metropolis,N,Y
18,1019,Creed,Braton,,N/a,,N,Y
19,1020,Anakin,Skywalker,123-565-5421,910 Tatooine Road,Tatooine,Y,N

In [73]:
### To solve the above problem, we will then manually replace the value N/a with a blank
df.loc[:,'Street Address'] = df.loc[:,'Street Address'].str.replace('N/a','')
df.loc[:,'Paying Customer'] = df.loc[:,'Paying Customer'].str.replace('N/a','')
df.loc[:,'Do_Not_Contact'] = df.loc[:,'Do_Not_Contact'].str.replace('N/a','')
df

### this does not seem to work for index 15

,Customer ID,First_Name,Last_Name,Phone_Number,Street Address,State,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-555-5421,123 Shire Lane,Shire,Y,N
1,1002,Abed,Nadir,123-643-9775,93 West Main,Manhattan,N,Y
2,1003,Walter,White,123-643-9775,298 Albuquerque,New Mexico,Y,N
3,1004,Dwight,Schrute,809-879-8738,980 Paper Avenue,Pensylvania,Y,N
4,1005,Jon,Snow,,123 Khaleesi str,Westeros,Y,N
5,1006,Ron,Swanson,803-327-2314,786 City Parkway,New York,N,Y
6,1007,Jeff,Winger,123-555-6421,1209 South Park,Central City,Y,N
7,1008,Sherlock,Holmes,816-592-1732,98 Clue Drives,England,N,Y
8,1009,Gandalf,NaN,,123 Middle Earth,Sauron,N,Y
9,1010,Peter,Parker,876-324-6825,25th Main Street,New York,Y,N
10,1011,Samwise,Gamgee,153-443-1475,612 Shire Lane,Shire,Y,N
11,1012,Harry,Potter,123-555-3421,432 Hogwarts Academy,Diagon Alley,,
12,1013,Don,Draper,,2033 Main Street,Alabama,N,Y
13,1014,Leslie,Knope,808-821-3604,311 City Parkway,Queens,N,Y
14,1015,Toby,Flenderson,,231 HR Avenue,LA,Y,N
15,1016,Ron,Weasley,521-324-6829,492 Gryffindor House,Hogwarts,NaN,NaN
16,1017,Michael,Scott,123-555-5442,121 Paper Avenue,Pensylvania,Y,N
17,1018,Clark,Kent,304-124-6238,535 Daily Sun,Metropolis,N,Y
18,1019,Creed,Braton,,,None,N,Y
19,1020,Anakin,Skywalker,123-565-5421,910 Tatooine Road,Tatooine,Y,N

In [78]:
df.loc[15,'Paying Customer'] = '' ## manually sets the value of that particular record to a blank
df.loc[15,'Do_Not_Contact'] = ''  ## manually sets the value of that particular record to a blank
df # displays the changes

,Customer ID,First_Name,Last_Name,Phone_Number,Street Address,State,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-555-5421,123 Shire Lane,Shire,Y,N
1,1002,Abed,Nadir,123-643-9775,93 West Main,Manhattan,N,Y
2,1003,Walter,White,123-643-9775,298 Albuquerque,New Mexico,Y,N
3,1004,Dwight,Schrute,809-879-8738,980 Paper Avenue,Pensylvania,Y,N
4,1005,Jon,Snow,,123 Khaleesi str,Westeros,Y,N
5,1006,Ron,Swanson,803-327-2314,786 City Parkway,New York,N,Y
6,1007,Jeff,Winger,123-555-6421,1209 South Park,Central City,Y,N
7,1008,Sherlock,Holmes,816-592-1732,98 Clue Drives,England,N,Y
8,1009,Gandalf,NaN,,123 Middle Earth,Sauron,N,Y
9,1010,Peter,Parker,876-324-6825,25th Main Street,New York,Y,N
10,1011,Samwise,Gamgee,153-443-1475,612 Shire Lane,Shire,Y,N
11,1012,Harry,Potter,123-555-3421,432 Hogwarts Academy,Diagon Alley,,
12,1013,Don,Draper,,2033 Main Street,Alabama,N,Y
13,1014,Leslie,Knope,808-821-3604,311 City Parkway,Queens,N,Y
14,1015,Toby,Flenderson,,231 HR Avenue,LA,Y,N
15,1016,Ron,Weasley,521-324-6829,492 Gryffindor House,Hogwarts,,
16,1017,Michael,Scott,123-555-5442,121 Paper Avenue,Pensylvania,Y,N
17,1018,Clark,Kent,304-124-6238,535 Daily Sun,Metropolis,N,Y
18,1019,Creed,Braton,,,None,N,Y
19,1020,Anakin,Skywalker,123-565-5421,910 Tatooine Road,Tatooine,Y,N

In [80]:
df = df.fillna('')
df

,Customer ID,First_Name,Last_Name,Phone_Number,Street Address,State,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-555-5421,123 Shire Lane,Shire,Y,N
1,1002,Abed,Nadir,123-643-9775,93 West Main,Manhattan,N,Y
2,1003,Walter,White,123-643-9775,298 Albuquerque,New Mexico,Y,N
3,1004,Dwight,Schrute,809-879-8738,980 Paper Avenue,Pensylvania,Y,N
4,1005,Jon,Snow,,123 Khaleesi str,Westeros,Y,N
5,1006,Ron,Swanson,803-327-2314,786 City Parkway,New York,N,Y
6,1007,Jeff,Winger,123-555-6421,1209 South Park,Central City,Y,N
7,1008,Sherlock,Holmes,816-592-1732,98 Clue Drives,England,N,Y
8,1009,Gandalf,,,123 Middle Earth,Sauron,N,Y
9,1010,Peter,Parker,876-324-6825,25th Main Street,New York,Y,N
10,1011,Samwise,Gamgee,153-443-1475,612 Shire Lane,Shire,Y,N
11,1012,Harry,Potter,123-555-3421,432 Hogwarts Academy,Diagon Alley,,
12,1013,Don,Draper,,2033 Main Street,Alabama,N,Y
13,1014,Leslie,Knope,808-821-3604,311 City Parkway,Queens,N,Y
14,1015,Toby,Flenderson,,231 HR Avenue,LA,Y,N
15,1016,Ron,Weasley,521-324-6829,492 Gryffindor House,Hogwarts,,
16,1017,Michael,Scott,123-555-5442,121 Paper Avenue,Pensylvania,Y,N
17,1018,Clark,Kent,304-124-6238,535 Daily Sun,Metropolis,N,Y
18,1019,Creed,Braton,,,,N,Y
19,1020,Anakin,Skywalker,123-565-5421,910 Tatooine Road,Tatooine,Y,N

In [82]:
# Using a for loop to drop any row that has 'Y' for Do_Not_Contact
for x in df.index:
    if df.loc[x,'Do_Not_Contact'] == 'Y':
        df.drop(x, inplace = True)  
df # Displays the result after the for loop

,Customer ID,First_Name,Last_Name,Phone_Number,Street Address,State,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-555-5421,123 Shire Lane,Shire,Y,N
2,1003,Walter,White,123-643-9775,298 Albuquerque,New Mexico,Y,N
3,1004,Dwight,Schrute,809-879-8738,980 Paper Avenue,Pensylvania,Y,N
4,1005,Jon,Snow,,123 Khaleesi str,Westeros,Y,N
6,1007,Jeff,Winger,123-555-6421,1209 South Park,Central City,Y,N
9,1010,Peter,Parker,876-324-6825,25th Main Street,New York,Y,N
10,1011,Samwise,Gamgee,153-443-1475,612 Shire Lane,Shire,Y,N
11,1012,Harry,Potter,123-555-3421,432 Hogwarts Academy,Diagon Alley,,
14,1015,Toby,Flenderson,,231 HR Avenue,LA,Y,N
15,1016,Ron,Weasley,521-324-6829,492 Gryffindor House,Hogwarts,,
16,1017,Michael,Scott,123-555-5442,121 Paper Avenue,Pensylvania,Y,N
19,1020,Anakin,Skywalker,123-565-5421,910 Tatooine Road,Tatooine,Y,N

In [83]:
# using a for loop to remove rows with blank phone numbers
for x in df.index:
    if df.loc[x,'Phone_Number'] == '':
        df.drop(x, inplace = True)  
df # displays the results

,Customer ID,First_Name,Last_Name,Phone_Number,Street Address,State,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-555-5421,123 Shire Lane,Shire,Y,N
2,1003,Walter,White,123-643-9775,298 Albuquerque,New Mexico,Y,N
3,1004,Dwight,Schrute,809-879-8738,980 Paper Avenue,Pensylvania,Y,N
6,1007,Jeff,Winger,123-555-6421,1209 South Park,Central City,Y,N
9,1010,Peter,Parker,876-324-6825,25th Main Street,New York,Y,N
10,1011,Samwise,Gamgee,153-443-1475,612 Shire Lane,Shire,Y,N
11,1012,Harry,Potter,123-555-3421,432 Hogwarts Academy,Diagon Alley,,
15,1016,Ron,Weasley,521-324-6829,492 Gryffindor House,Hogwarts,,
16,1017,Michael,Scott,123-555-5442,121 Paper Avenue,Pensylvania,Y,N
19,1020,Anakin,Skywalker,123-565-5421,910 Tatooine Road,Tatooine,Y,N